<strong>Olá, {{ student }}</strong>
<p>Bem vindo a Gympoint, confira abaixo os detalhes da sua matrícula:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ startDate }} <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <br />
  <small>
    Obrigado pela confiança!
  </small>
</p>
